*{
    margin-top: 0px;
    margin-left: 0px;
   background-color: rgb(182, 38, 38);
   color: black;
  
  }
  .img{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .titulo{
    margin-left: 15px;
    text-align: center;
    text-decoration: black;
    text-transform: capitalize;
  
  }
  .clipes{
    margin-left: 15px;
    text-align: center;
  
  
  }
  .m1{
    margin-left: 15px;
    text-align: center;
    
  }
  .m2{
    margin-left: 15px;
    text-align: center;
  
  }