h4{
    margin-left: 15rem;
    width: 14rem;
}


 .euaqui{
    border-radius: 100%;
    margin-top: -4rem;
    margin-left: 12px;
 }

 .homi{
    position: absolute;
    width: 227px;
    height: 35px;
    left: 10rem;
    top: 14rem;
    text-align:center;
    align-items: center;
   background:#B0ADAD;
 }

 .eu1{
    position: absolute;
    width: 227px;
    height: 35px;
    left: 10rem;
    top: 17rem;
    text-align:center;
    align-items: center;
   background:#B0ADAD;
 }

 .santana img{
   margin-left: 28rem;
 }
.musica{
margin-left: 15rem;
}

.video1{
width: 38rem;
margin-top: 42px;
margin-left: 7rem;
}
.video2{
width: 38rem;
margin-top: 42px;
margin-left: 7rem;
}

